.web.header{
    font-family: @font-family-hecmocer;
    font-size: 34px;
    color: #343838;
    background: #00DFFC;
    text-align: center;
    padding-top: 50px;
    h1{
        padding-bottom: 50px;
        .header.title{
            margin: 0;
            text-shadow: 1px 1px 1px white, 2px 2px 15px #0B486B;
            &:hover{
                //color: #C44D58;

                text-shadow: 1px 1px 1px white, 3px 3px 5px #0B486B;
            }
        }
    }

}