.web.header{
    font-family: @font-family-hecmocer;
    background: aquamarine;
    text-align: center;
    padding-top: 50px;
    .header.title{
        margin: 0;
        padding-bottom: 50px;
    }
}