@import url(https://fonts.googleapis.com/css?family=Pacifico|Oldenburg|Open+Sans:400,700,700italic,400italic);
.web.header {
  font-family: 'Pacifico', cursive;
  font-size: 34px;
  color: #343838;
  background: #00DFFC;
  text-align: center;
  height: 220px;
  width: 100%;
}
.web.header .header.title {
  padding-top: 55px;
}
.web.header .header.title .header.content {
  margin: 0;
  font-size: 2em;
  text-shadow: 1px 1px 1px white, 2px 2px 15px #0B486B;
  transition: text-shadow 325ms;
  text-decoration: none;
  color: inherit;
}
.web.header .header.title .header.content:hover {
  text-shadow: 1px 1px 1px white, 3px 3px 5px #0B486B;
}
.web.header.shrinked {
  top: 0;
  height: 50px;
  position: fixed;
  z-index: 2;
  font-family: 'Pacifico', cursive;
  color: #343838;
  background: #00DFFC;
  text-align: center;
  width: 100%;
}
.web.header.shrinked .header.title {
  padding-top: 0;
}
.web.header.shrinked .header.title .nav-buttons {
  margin-top: -11px;
}
.web.header.shrinked .header.title .header.content {
  margin: 0;
  font-size: 30px;
  text-shadow: 1px 1px 1px white, 2px 2px 15px #0B486B;
  transition: text-shadow 325ms, opacity 1s;
  text-decoration: none;
  color: inherit;
}
.web.header.shrinked .header.title .header.content:hover {
  text-shadow: 1px 1px 1px white, 3px 3px 5px #0B486B;
}
.hide {
  opacity: 0;
}
.display {
  opacity: 1;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #005F6B;
  color: white;
  text-shadow: 2px 2px 3px black;
}
h1 {
  margin: 0;
  padding: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oldenburg', cursive;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:focus {
  color: inherit;
}
ul.nav-list {
  list-style: none;
  /* Remove list bullets */
  padding: 0;
  margin: 0;
}
ul.nav-list li.nav-list-element {
  padding-left: 16px;
  transition: padding-left 150ms;
  width: 50px;
}
ul.nav-list li.nav-list-element:before {
  content: ">";
  /* Insert content that looks like bullets */
  padding-right: 8px;
  color: red;
}
ul.nav-list li.nav-list-element:hover {
  padding-left: 26px;
}
.web.main {
  margin-top: 25px;
  font-size: 16px;
}
.tab {
  margin-bottom: 30px;
}
.picture-frame.viaje {
  margin-top: 40px;
  border: solid 1px black;
  box-shadow: 10px 10px 5px #333333;
}
.picture-frame.viaje .picture-row {
  margin: 20px;
}
.picture-frame.proy {
  margin-top: 40px;
  border-bottom: solid 2px black;
}
.picture-frame.proy .picture-row {
  margin: 20px;
}
.picture-frame.info {
  margin-top: 40px;
  border: solid 1px black;
  box-shadow: 10px 10px 5px #333333;
}
.picture-frame.info .picture-row {
  margin: 20px;
}
.img-container {
  overflow: hidden;
  border: solid black 1px;
}
.img-container .img-responsive.scalable {
  transition: transform 750ms;
}
.img-container .img-responsive.scalable:hover {
  transform: scale(1.1, 1.1);
}
.web.footer {
  bottom: 0;
  position: fixed;
  background: black;
  opacity: 0.2;
  padding: 5px;
}
.web.footer:hover {
  opacity: 1;
}
.dinamic-content {
  padding-bottom: 50px;
}
.loading .loader {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  z-index: 3;
  opacity: 0.7;
}
.loading:before {
  background: #2525ff;
  border-radius: 10px;
  position: fixed;
  z-index: 4;
  left: 50px;
  top: 200px;
  font-size: 72px;
  content: "Loading...";
  font-family: pacifico;
}
.nav-header {
  padding: 10px;
  background: radial-gradient(farthest-corner at 0% 0%, black 20%, #005F6B 70%);
}
.e-mail {
  font-family: pacifico;
  font-size: 32px;
  padding-top: 20px;
  text-shadow: 0px 0px 15px white;
  color: black;
}
.icon-bg {
  width: 250px;
  height: 250px;
  background: radial-gradient(#BA0B35 10%, #420B35);
  border-radius: 50%;
  border: solid #1b0415 10px;
}
.icon-bg .icon-circle-one {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #008C9E;
  border-radius: 50%;
  top: 10px;
}
.icon-bg .icon-circle-two {
  position: relative;
  width: 60px;
  height: 60px;
  background: #00B4CC;
  border-radius: 50%;
  left: -60px;
  top: -15px;
  border: solid black 2px;
  transition: border 150ms;
}
.icon-bg .icon-circle-two:hover {
  border: solid black 3px;
}
.icon-bg .icon-circle-three {
  position: relative;
  width: 60px;
  height: 60px;
  background: #00B4CC;
  border-radius: 50%;
  left: 60px;
  top: -75px;
  border: solid black 2px;
  transition: border 150ms;
}
.icon-bg .icon-circle-three:hover {
  border: solid black 3px;
}
.icon-bg .icon-circle-four {
  position: relative;
  width: 60px;
  height: 60px;
  background: #008C9E;
  border-radius: 50%;
  left: -60px;
  top: -60px;
}
.icon-bg .icon-circle-five {
  position: relative;
  width: 60px;
  height: 60px;
  background: #008C9E;
  border-radius: 50%;
  left: 60px;
  top: -120px;
}
.icon-bg .icon-circle-six {
  position: relative;
  width: 60px;
  height: 60px;
  background: #00B4CC;
  border-radius: 50%;
  top: -145px;
  border: solid black 2px;
  transition: border 150ms;
}
.icon-bg .icon-circle-six:hover {
  border: solid black 3px;
}
.icon-bg .icon-circle-seven {
  position: relative;
  width: 60px;
  height: 60px;
  background: #a3e246;
  border-radius: 50%;
  border: solid black 2px;
  top: -280px;
}
.icon-span {
  z-index: 1;
  position: relative;
  top: 15px;
  font-size: 11px;
  font-family: Oldenburg;
  transition: text-shadow;
  transition: font-size 250ms;
}
.icon-span:hover {
  text-shadow: 5px 5px 6px black;
  font-size: 32px;
}
.no-underline:focus {
  text-decoration: none;
}
.no-underline:active {
  text-decoration: none;
}
.no-underline:hover {
  text-decoration: none;
}
.no-underline:visited {
  text-decoration: none;
}
